<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--umeng-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="cn.archko.pdf.PdfApp"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cn.archko.mupdf.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="cn.archko.pdf.activities.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="image/*" />  <!-- djvu is image? -->
            </intent-filter>
        </activity>

        <activity
            android:name="org.vudroid.pdfdroid.PdfViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Vudroid"
            android:screenOrientation="landscape"
            android:theme="@style/AppFullscreen"></activity>

        <activity
            android:name="cn.archko.pdf.activities.AMuPDFRecyclerViewActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@style/AppFullscreen"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <data android:scheme="file" />
                <data android:scheme="content" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="image/svg+xml" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="application/vnd.ms-xpsdocument" />
            </intent-filter>

            <!--This intent filter applies to file types where Android does-->
            <!--not have a supported mime type.-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern="/.*\.xps" />
                <data android:pathPattern="/.*\.cbz" />
                <data android:pathPattern="/.*\.epub" />
                <data android:pathPattern="/.*\.fb2" />
                <data android:pathPattern="/.*\.xml" />
                <data android:pathPattern="/.*\.html" />
                <data android:pathPattern="/.*\.xhtml" />
                <data android:pathPattern="/.*\.txt" />
                <data android:pathPattern="/.*\.log" />
                <data android:pathPattern="/.*\.js" />
                <data android:pathPattern="/.*\.json" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.archko.pdf.activities.PdfOptionsActivity"
            android:label="@string/options"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.archko.pdf.activities.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/about_title"
            android:screenOrientation="portrait"></activity>
        <!--<activity
            android:name="cn.archko.pdf.activities.TextActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:label="Text"
            android:screenOrientation="sensor"
            android:theme="@style/AppFullscreen"
            android:windowSoftInputMode="adjustResize"></activity>-->

        <activity
            android:name="cn.archko.pdf.imagedroid.AlbumViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name="cn.archko.pdf.core.imagedroid.ImageViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode|fontScale"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name="org.vudroid.djvudroid.DjvuViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode|fontScale"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi" />

        <!--<activity
            android:name="cn.archko.pdf.activities.ChooseFileFragmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <!--<activity
            android:name="cn.archko.pdf.activities.SettingsActivity"
            android:label="@string/options"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nia" />
        <activity
            android:name="cn.archko.pdf.activities.ComposeTextActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:label="Text"
            android:screenOrientation="sensor"
            android:theme="@style/AppFullscreen"
            android:windowSoftInputMode="adjustResize"></activity>-->
        <activity
            android:name="com.baidu.ai.edge.ui.activity.OcrActivity"
            android:exported="true"
            android:label="Ocr">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="image/*"
                    android:pathPattern=".*\\.jpg"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="image/*"
                    android:pathPattern=".*\\.jpeg"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="image/*"
                    android:pathPattern=".*\\.png"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="image/*"
                    android:pathPattern=".*\\.webp"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="image/*"
                    android:pathPattern=".*\\.gif"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <!--<activity
                android:name="cn.archko.pdf.activities.ComposeHomeActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:exported="true"
                android:theme="@style/Theme.Nia"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="image/*" />  &lt;!&ndash; djvu is image? &ndash;&gt;
            </intent-filter>
        </activity>
        <activity android:name="cn.archko.pdf.activities.ComposeAboutActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/about_title"
                android:theme="@style/Theme.Nia"
                android:screenOrientation="portrait"/>

        <activity android:name="cn.archko.pdf.activities.SettingsActivity"
                android:theme="@style/Theme.Nia"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait"/>-->

    </application>
</manifest>
