
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artifex.sonui.editor"
    >

    <application>

        <activity
            android:name="com.artifex.sonui.editor.SlideShowActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="stateHidden"
            >
        </activity>

        <activity
            android:name=".NUICertificateViewer"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="stateHidden"
            >
        </activity>

        <activity
            android:name=".NUICertificatePicker"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="stateHidden"
            >
        </activity>

    </application>

</manifest>
